{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" onclick="sendNrLic()" >

        <div class="col-md-4" style="float:left"></div>

        <div class="col-md-4" style="float:left; margin-top:40px">
            <i class="fa fa-user-plus fa-5x" style="border-bottom: 2px solid red; margin-bottom: 25px" aria-hidden="true"></i><h2>Dodaj zawodnika:</h2> 
            <center>
                {% form_theme form 'form_table_layout.html.twig' %}
                {{ form_start(form) }}
                
                
                
                {{ form_widget(form) }}
                <input type="submit" class="btn btn-default" style="margin-top: 20px" value="Dodaj" />
                {{ form_end(form) }}
            </center>
            <input type="hidden" id="klubD" name="klubD"/>
        </div>
        <div class="col-md-4" style="float:left"></div>
    </div>
    <style>
        input, textarea, select{
            margin-top:10px;
        }

    </style>

    <script>
        function sendNrLic() {
            var klub = $("#appbundle_zawodnik_kluby :selected").text();
            $("#appbundle_zawodnik_kluby").val();
            document.getElementById('appbundle_zawodnik_klub').value = klub;
        }
    </script>
    {% endblock %}

